html
  head
    include head.pug
  body
    include header_empty.pug
    div(class='main-frame')
      div(class='h50')
        div(class='headframe')
          a(href=`/`, style='margin: auto !important;')
            div(class='headerdivshelper')
              p(class='logoh1')='Un Latte'
        div(class='h200')
        input(type='text' class='searchbar' placeholder='Username' id='username' name='username' style='height:30px !important; margin: auto;')
        div(class='h25')
        input(type='text' class='searchbar' placeholder='Mail' id='mail' name='mail' style='height:30px !important; margin: auto;')
        div(class='h25')
        input(type='password' class='searchbar' placeholder='Password' id='password' name='password' style='height:30px !important; margin: auto;' onSubmit='submit_as_api()')
        div(class='h25')
        button(class='i-primary-50 searchbar' style='margin: auto;' onClick='submit_as_api()')='Log In'
        script.
          function cyrb53(str, seed = 0) {
            let h1 = 0xdeadbeef ^ seed, h2 = 0x41c6ce57 ^ seed;
            for (let i = 0, ch; i < str.length; i++) {
              ch = str.charCodeAt(i);
              h1 = Math.imul(h1 ^ ch, 2654435761);
              h2 = Math.imul(h2 ^ ch, 1597334677);
            }
            h1 = Math.imul(h1 ^ (h1>>>16), 2246822507) ^ Math.imul(h2 ^ (h2>>>13), 3266489909);
            h2 = Math.imul(h2 ^ (h2>>>16), 2246822507) ^ Math.imul(h1 ^ (h1>>>13), 3266489909);
            return 4294967296 * (2097151 & h2) + (h1>>>0);
          }

          function submit_as_api() {
            var myHeaders = new Headers();
            myHeaders.append('Content-Type', 'application/x-www-form-urlencoded');

            var urlencoded = new URLSearchParams();
            urlencoded.append('username', document.getElementById('username').value);
            urlencoded.append('token', cyrb53(document.getElementById('username').value + document.getElementById('password').value).toString())
            urlencoded.append('mail', document.getElementById('mail').value);
            urlencoded.append('as_api', 'true')

            var requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: urlencoded,
              redirect: 'follow'
            };

            fetch('/api/register', requestOptions)
              .then(response => response.text())
              .then(result => {
                document.cookie = `token=${result}; path=/`
                console.log(result)
                window.location.href = '/'
              })
              .catch(error => console.log('error', error));
          }